.btn {
  font-size: 1.25rem;
  background-color: $header;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  color: $background;
  margin: 0.2rem;
  line-height: 1;

  &:hover {
    background-color: $active;
  }

  &--update {
    background-color: $grey;

    &:hover {
      background-color: $grey2;
    }
  }

  &--add {
    background-color: $accents1;
    color: $active;
    margin: 0;
    padding: 0.4rem 1rem 0.35rem;
    display: block;

    &:hover {
      background-color: $accents2;
    }
  }
}
