* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
}

.main {
  min-height: calc(100vh - 9rem);
  background-color: $background;
  padding: 3rem;
}
