.header {
  background-color: $header;
  color: $background;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;

  &__list {
    display: flex;
  }

  &__link {
    text-decoration: none;
    color: $background;
    font-size: 1.2rem;
    padding: 0 1.5rem;
    line-height: 1;
    font-weight: 500;
    height: 5rem;
    display: flex;
    align-items: center;

    &:active,
    &:focus {
      background-color: $active;
    }

    &:hover {
      background-color: $line;
      color: $active;
    }

    &--active {
      background-color: $active;

      &:hover {
        background-color: $active;
        color: $background;
      }
    }
  }

  &__title {
    font-size: 1.8rem;
    padding: 0 1.6rem;
    font-weight: 500;
  }
}
