.data {
  $this: &;

  font-size: 1.25rem;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;

  &__head {
    color: $active;
    background-color: $accents1;
    font-weight: 600;

    #{$this}__column:not(:last-of-type) {
      border-right-color: $background;
    }
  }

  &__row,
  &__column {
    border: 1px solid $accents1;
    border-collapse: collapse;
    padding: 0.5rem 1rem;
    vertical-align: middle;
    text-align: center;
  }

  &__column:first-child {
    width: 6%;
    text-align: center;
  }

  &__column:last-child {
    width: 25%;
  }

  &__body-row {
    &:hover {
      background-color: $accents2;
      color: $background;
    }
  }

  &__link {
    text-decoration: none;
    outline: none;
  }
}
